

<!doctype html>
<html>
	<head>
		<title>Delta Competition</title>
		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<script type="text/javascript" src="http://code.jquery.com/
jquery.min.js"></script>
	
	<style>

	</style>
</head>
		
	
	
<body>
     <h1> Welcome to Alpha Blog Home</h1>
<%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About', about_path %>		
 
 
</body>
</html>


